/* reset css */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
/* fin css reset */

#cont_principal {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
 	overflow: hidden; 

	background-color: #FFF;
	background-image: url("../imagenes/fondo_pr.jpg");
	background-repeat: no-repeat;
}

#principal {
	float: right;
	width: 565px;
	margin-right: 15px;
	padding-top: 25px;
}

#anuncio {
	margin-right: 600px;
	margin-left: 20px;

	background-image: url("../imagenes/perg_medio.jpg");
	background-repeat: repeat-y;
	background-position: bottom center;
	margin-top: 115px;

}

#banner h1 {
	font: normal 48px Georgia, "Times New Roman", Times, serif;
	text-align: right;
  	color: #272D32;
}

#principal h2 {
	font: 24px Tahoma, Geneva, sans-serif;
	margin-bottom: 15px;
	font-family: Tahoma, Geneva, sans-serif;

	background-image: url("../imagenes/subrayado.png");
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 7px;
}
#principal p {
	font: 14px Tahoma, Geneva, sans-serif;
	color: #323A3F;
	margin-bottom: 20px;
	font-family: Tahoma, Geneva, sans-serif;
}

#anuncio h2 {
	font: italic bold normal 20px Georgia, "Times New Roman", Times, serif;
	text-align: center;
	color: #323A3F;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 18px;

	background-image: url("../imagenes/perg-sup.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 70px;


}

#anuncio ul {
	font: 14px Tahoma, Geneva, sans-serif;
}

body {
	background-image: url("../imagenes/fondo_web.png");
	background-repeat: repeat-x;
}

#banner {
	margin-top: 48px;
}

#anuncio li {
	list-style: none;
	background-image: url("../imagenes/vineta.png");
	background-repeat: no-repeat;
	padding-left: 25px;
	background-position: 0 4px;
	margin-left: 30px;
	margin-right: 40px;
}

#anuncio .final {
	background-image: url("../imagenes/perg_inf.jpg");
	background-repeat: no-repeat;
	background-position: bottom center;
	padding-bottom: 65px;
}